*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Inter',sans-serif;
  background:
  radial-gradient(circle at 20% 20%, rgba(0,119,255,0.25), transparent 40%),
  radial-gradient(circle at 80% 80%, rgba(0,60,255,0.2), transparent 40%),
  linear-gradient(135deg,#000,#0a0f1f 60%,#000);
  color:white;
  overflow-x:hidden;
}

section{
  padding:120px 8%;
  text-align:center;
}

/* HERO */

.hero{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

.hero h1{
  font-size:4rem;
}

.highlight{
  color:#1e90ff;
}

.btn{
  display:inline-block;
  margin-top:30px;
  padding:15px 40px;
  border-radius:40px;
  background:linear-gradient(90deg,#0077ff,#00c3ff);
  color:white;
  text-decoration:none;
  font-weight:bold;
  transition:.3s;
}

.btn:hover{
  transform:scale(1.05);
  box-shadow:0 0 25px rgba(0,119,255,.6);
}

/* ABOUT */

.about p{
  max-width:700px;
  margin:20px auto;
  opacity:.8;
}

/* PROJECTS */

.project-grid{
  display:flex;
  gap:40px;
  margin-top:60px;
  justify-content:center;
  flex-wrap:wrap;
}

.project-card{
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(15px);
  padding:40px;
  border-radius:20px;
  width:300px;
  transition:.3s;
}

.project-card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 30px rgba(0,119,255,.3);
}

/* SKILLS */

.skills-grid{
  display:flex;
  justify-content:center;
  gap:40px;
  margin-top:60px;
  flex-wrap:wrap;
}

.skill{
  background:rgba(255,255,255,0.05);
  padding:40px;
  border-radius:20px;
  width:200px;
}

.skill h3{
  font-size:2.5rem;
  color:#1e90ff;
}

/* REVEAL */

.reveal{
  opacity:0;
  transform:translateY(80px);
}